@import "tailwindcss";


@theme {
  /* Colores principales */
  --color-primary: #026838;
  --color-secondary: #C2282D;
  --color-accent-orange: #F57C00;
  --color-accent-violet: #7E57C2;
  --color-accent-yellow: #FFC107;
  --color-text-primary: #333333;
  --color-text-secondary: #666666;
  --color-background: #FFFFFF;
  --color-surface: #F5F5F5;
  /* Fuentes personalizadas (opcional) */
  --font-sans: "Nunito", ui-sans-serif, system-ui, sans-serif;
}
/* Aplicar la fuente a toda la aplicación */
body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.rotate-45 {
  transform: rotate(45deg);
}

.tiptap-editor {
  border: 2px solid #cbd5e1;      /* Tailwind gray-300 */
  border-radius: 0.5rem;
  padding: 1rem;
  min-height: 300px;
  margin-bottom: 1.5rem;
  transition: border-color 0.2s, box-shadow 0.2s;
  outline: none;
}

.tiptap-editor:focus-within {
  border-color: #3b82f6;          /* Tailwind blue-500 */
  box-shadow: 0 0 0 2px #a7f3d0;  /* Soft focus ring */
}

.btn {
  padding: 6px 12px;
  border: 1px solid #d1d5db; /* gray-300 */
  background: white;
  cursor: pointer;
  border-radius: 4px;
  user-select: none;
  transition: background-color 0.15s;
}

.btn:hover {
  background-color: #e5e7eb; /* gray-200 */
}

.btn-active {
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
  user-select: none;
  transition: background-color 0.15s;
  background-color: #2563eb; /* blue-600 */
  color: white;
  border-color: #2563eb;
}


.femecub-bold-font {
  font-family: apotek-extended, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.femecub-light-font {
  font-family: apotek-extended, sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Para usar pesos específicos */
.font-light {
  font-weight: 300; /* 300 */
}

.font-regular {
  font-weight: 400; /* 400 */
}

.font-bold {
  font-weight: 700; /* 700 */
}

.font-extra-light {
  font-weight: 200; /* Extra Light */
}

.font-extra-bold {
  font-weight: 800; /* Extra Bold */
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #004D25; /* Verde oscuro */
    --color-secondary: #9A1A1F; /* Rojo oscuro */
    --color-text-primary: #E0E0E0;
    --color-text-secondary: #B0B0B0;
    --color-background: #121212;
    --color-surface: #1E1E1E;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slideIn 0.3s ease-out forwards;
}